body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
#content>img{
    margin: 2% 4% 0 4%;
}
#content>form{
    margin: 0.2% 4% 1% 4%;
}
#hotel{
    margin: 1% 4% 4%;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
header>a>#logoid1
{
    width: 60px; 
    height: 60px;
}
#radisson{
    height: 500px;
    width: 500px;
}
footer>a>img{
    height: 20px;
    width: 22px;
}