body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

#content img{
    margin: 2% 4% 0 4%;
    height: 350px;
    padding-right: 30px;
    padding-bottom: 2px;
    padding-left: 30px;
}
#content form{
    margin: 0.2% 4% 1% 4%;
    padding-left: 200px;
    border-left: 1px solid black;
   
}
#hotel{
    margin: 1% 4% 4%;
}
header{
    background-color:rosybrown;
    position: fixed;
    display:flex;
    justify-content: space-between ;
    
    width: 100%;
    top: 0;
    z-index: 100;
    margin-bottom: 5px;
}
#imgform{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   margin-top:100px;
   flex:0 0 auto;
max-height: 400px;
padding:3px;
   border:1px solid black;
   
}
footer{
    background-color: rosybrown;
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
    width: 100%;
    height: max-content;
    position: fixed;
    padding-left: 2px;
    bottom: 0;
}
form{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    column-width: 200px;
   padding-top:200px;
   padding-bottom: 200px;
  margin-right: 100px;
}

header>button{
    text-decoration: none;
    color: rgb(22, 20, 20);
   float: right;
    margin:20px;
    margin-right: 2%;
    
}
header>a>#logoid1
{
    width: 60px; 
    height: 60px;
    float: left;
}
#hotel h3{
font-family: cursive;
}
#radisson{
    height: 500px;
    width: 500px;
    top:30%;
    margin-right: 20px;
}
footer>a>img{
    height: 20px;
    width: 22px;
}
footer>div>a>img{
    height: 20px;
    width: 22px;
    float:right;
    margin: 2px;
    top:2%;
   
}