body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    padding-bottom: 1%;
}
header{
    background-color: rosybrown;
    display:flex;
    justify-content: space-between ;
    position: fixed;
    width: 100%;
    
    z-index: 100;
}
header>a>#logoid1
{
    width: 60px; 
    height: 60px;
    margin: auto;
    
}
header>button{
    text-decoration: none;
    color: rgb(22, 20, 20);
   float: right;
    margin:20px;
    margin-right: 2%;
    
}
#Content div{
    margin: 2%;
}
#mapandlist a{
    color:black; text-decoration: none;  margin-top: 10px; background-color:none;
    margin-top: 12%;
}
#mapandlist ul{
    padding-top: 100px;
    display: flex;
    text-align: center;
     flex-direction: row;
     
     justify-content:space-evenly;
     top:20%;
     bottom: 3px;

}
.imgtex:hover .text{
    background-color: rosybrown;
    opacity: 1;
}
.imgtex{
    display: flex;
    flex-direction: row;
}
#maped{
    display: block;
}
#Content>div{
    display: flex;
   
}
#content div{
    background-color:lightgrey;
    width: 40%;
    height: auto;
}
#listview
{
    color:black;
    scroll-behavior: smooth;
}

.contentdiv{
    width: 250px;
    height: 250px;
}
footer{
    background-color: rosybrown;
    position: fixed;
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
    bottom: 0;
    width:100%;
}

footer>div>a>img{
    height: 20px;
    width: 22px;
    float:right;
    margin: 2px;
    top:25%;
   
}