body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
header{
    background-color:rosybrown;
    position: fixed;
    width: 100%;
    top:0;
    padding: auto;
    z-index: 100;
  
}
header>a{
    text-decoration: none;
    color: rgb(22, 20, 20);
   float: right;
    margin:20px;
}
footer{
    background-color:rosybrown;
    position: fixed;
    bottom: 0;
    width:100%;
}
#contentpart1hotel{
background-color: rgb(132,136, 139);
margin-top: 2%;
margin-bottom: 2%;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#customerdetails
{
margin: 2%;
}
#tariffdetails{
    margin: 1%;
    border:1px solid black;
    border-radius: 5px;
    
    padding: 1% 2%;
}
#logoid
{
    width: 60px; height: 60px;
}
#hotelimg{
    height: 500px;
    width: 500px;
}
footer>div>a>img{
    height: 20px;
    width: 22px;
    float:right;
    margin: 2px;
    top:25%;
   
}